.card {
  @include grid-container();
  margin-top: 30px;
  border-bottom: 2px solid $dark-green;
  padding-bottom: 10px;

  .practices {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $dark-green;
  }

  .practice-card {
    @include grid-column(12);
    margin-bottom: 20px;

    @include tablet-bp {
      @include grid-column(6);
      min-height: 125px;
    }

    @include desktop-bp {
      @include grid-column(4);
    }
  }
}
